<div class="loginPage">
  <div class="login d-flex flex-column align-items-center">
    <h2 class="col-1 mt-3" style="font-size: 40px;">Login</h2>
    <div class="login-form d-flex flex-column align-items-center col-6 mb-5 mt-5">
      <form action="/users/login" method="post" class="col-8">
        <div class="mb-3 row">
          <label for="email" class="col-sm-3 col-form-label">Email:</label>
          <div class="col-sm-8">
            <input type="email" id="email" name="email" class="form-control" required>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="password" class="col-sm-3 col-form-label">Password:</label>
          <div class="col-sm-8">
            <input type="password" id="password" name="password" class="form-control" required>
          </div>
        </div>
        <din class="button d-flex flex-column align-items-center">
          <div class="mb-3">Have no account?<a href="/users/register">Register</a></div>
          <button type="submit" class="btn btn-primary">Login</button>
        </din>
      </form>
    </div>
  </div>
</div>